*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

$font-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

html{
    box-sizing: border-box;
    font-family: $font-text;
}


.left,
.right{
    position: absolute;
    height: 300vh;
    width: 50%;
    background-color: darkred;
    z-index: -11;

    animation: openCourtain 2s ease-out 1s forwards;
}

.right{
    text-align: right;
    right: 0%;
}

.center{
    z-index: 0;
    position: absolute;
    // height: 300vh;
    width: 100vw;
}

@keyframes openCourtain {
    0%{
        width: 50%;
    }
    100%{
        width: 0%;
    }
}

.navi{
    display: flex;
    height: 15vh;
    width: 100vw;
    flex-direction: row;
    padding: 2rem 5rem;
    justify-content: space-between;
    background-color: rgb(195, 150, 74);
    background: fill;
    align-items: center;
    z-index: -2;
}

.logo{
    height: 50px;
    width: 35px;
}

.items{
    display: flex;
    align-items: center;
    color: white;
}

.items-list{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.item{
    padding-right: 2rem;
    height: 30px;
    // width: 50px;
}

.item-link{
    padding-right: 2rem;
    &:last-child{
        padding: 0;
    }
}

.item:last-child{
    padding: 0;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}
$text-color: rgba(219, 66, 66, .9);

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(195, 150, 74);
    background-image: url("pngwing.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-1{
    height: 85vh; // porque el navi tiene 15vh
    z-index: 1;
}

.message{
    width: 25rem;
    height: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    background-color: $text-color;
    color: white;
    border-radius: 1rem;
    
    transition: all 1s;

    &:hover{
        background-color: rgba(219, 66, 66, 0.5);
        color: white;
        .description{
            color: white;
        }
    }

    .description{
        margin-top: 1rem;
        color: $text-color;
        transition: all 1s;
    }
}

.page-2{
    background-color: rgb(65, 62, 62);
    background-image: none;
    position: relative;
    
}


.movies{
    display: grid;
    grid-template-columns: 10rem 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem;
    gap: 3rem 3rem;
}

.card{
    z-index: 2;
}

.stars{
    position: absolute;
    height: 100vh;
    width: 100vw; 
    
}

.star{
    position: absolute;
    height: 2rem;
    width: 2rem;
    background-color: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-1{
    right: 90%;
    top: 90%;
}

.star-2{
    right: 66%;
    top: 15%;
}

.star-3{
    right: 50%;
    top: 30%;
}

.star-4{
    right: 35%;
    top: 65%;
}

.star-5{
    right: 10%;
    top: 10%;
}

.card{
    height: 12rem;
    width: 10rem;
    background-color: black;
}

.movie-img{
    display: block;
    position: relative;
    transition: all .7s;
    padding: 0;
    margin: 0;
    opacity: 1;
    width: 10rem;
    height: 12rem;
    &:hover{
        opacity: 0;
    }
    z-index: 1;
}

.rating{
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: .6rem;
    padding: .2rem;
    color:rgb(195, 193, 74);
    background-color: rgba(128,128,128,0.3);
}

.img-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: .2rem;
    height: 3rem;
    padding-bottom: .3rem;
    margin: 0;
    color: white;
    background-color: rgba(195, 193, 74,0.3);
    font-weight: 700;
}

.movie-img-src{
    object-fit: cover;
    width: 10rem;
    height: 12rem;
}

.movie-text{
    position: relative;
    padding-left: .2rem;
    padding-right: .2rem;
    z-index: 0;
}


.movie-title{
    position: absolute;
    top: -12rem;
    color: white;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .5rem;
}

.movie-desc{
    position: absolute;
    top: -9rem;
    color: white;
    font-size: .6rem;
    padding: .5rem;
    overflow: hidden;
    text-align: justify;
    text-overflow:clip;
    max-height: 8rem;
}




.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}


.button{
    height: 2rem;
    width: 5rem;
    margin: 0;
    border: none;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 66, 66);
    transition: all 1s;
    color: white;

    &:hover{
        background-color: rgb(245, 66, 66);
    }
}

.the-form input{
    margin-top: .3rem;
    opacity: 1;
    box-sizing: border-box;
}

.form-input{
    width: 20rem;
    border: none;
    padding: 1rem 0.8rem; 
    border-radius: .2rem;
}

.form-text{
    height: 8rem;
    resize: none;
    font-family: $font-text;
    margin-top: 3.5rem;
}

.appear{
    animation: appear 1s 1s forwards;
}

.dissapear{
    animation: dissapear 1s 0s forwards;
}


@media screen and (min-width: "1300px") {

    html{
        font-size: 24px;
    }
    
    .center{
        background-size: 60%;
    }

    .text,
    .form{
        width: 25rem;
        & textarea{
            font-size: .8rem;
        }
        & input{
            font-size: .8rem;
        }
    }
}

@media screen and (max-width:"1200px"){

    html{
        font-size: 20px;
    }
    .content{
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (max-width:"1000px"){
    .content{
        padding-left: 1%;
        padding-right: 1%;
    }
}


@media screen and (max-width:"850px")
{
    html{
        font-size: 16px;
    }
    .content{
        display: flex;
        flex-direction: column;
    }

    .text{
        color: white;
        border-radius: 0;
        width: 100vw;
    }
}